<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <style type="text/css">
    table {border-collapse: collapse; font-size: 14px; width: 80%; margin: auto}
    table, th, td {border: 1px solid darkslategray;padding: 10px}
  </style>
</head>
<body>
<div style="text-align: center">
  <span style="color: darkslategray; font-size: 30px">欢迎光临！</span>
  <hr/>
  <table class="list">
    <tr>
      <th>id</th>
      <th>用户名</th>
      <th>电话</th>
      <th>创建时间</th>
      <th>salt</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}">1</td>
      <td th:text="${user.username}">张三</td>
      <td th:text="${user.phone}">111111</td>
      <td th:text="${user.created}">创建时间</td>
      <td th:text="${user.salt}">1980-02-30</td>
    </tr>
  </table>
</div>
</body>
</html>